

<div class="row welcome-page">
  <div class="medium-10 medium-centered columns vertical-align">
    <h1 class="fadeIn">Somebody Beer Me</h1>

    <h2>Find Beer | Drink Beer | Be Happy</h2>
    
    <div class="row sign-in-buttons">
      <div class="medium-6 columns">
        <%= link_to 'Sign In', new_user_session_path, class: 'button f-right' %>
      </div>
      <div class="medium-6 columns end">

        <%= link_to 'Register', new_user_registration_path, class: 'button f-left' %>
      </div>
    </div>

  </div>
</div>